a{
	color:#555;
	text-decoration: none;
}
li{
	list-style:none;
}
*{
	margin: 0;
	padding: 0;
}
i{
	font-style: normal;
	font-weight: 400;
}
.nav-wrapper{
	min-width: 955px;
    margin: 0 auto; 
}
.nav-bigBox{
	padding: 0 25px 0 30px;
    height: 100px;
    margin: 0 auto;
    color: #666;
    font-size: 12px;
    position: relative;
    min-width:1000px;

}
.nav-bigBox .nav-logo{
	width: 260px;
    height: 56px;
    background: url(../images/logo.png) no-repeat;
    line-height: 56px;
    display: block;
    margin-top: 20px;
    float: left;
}
.nav-rightBox{
	float: right;
    color: #666;
}
.nav-search-wrapper{
	display: inline-block;
    width: 300px;
    height: 40px;
    margin-right: 35px;
    vertical-align: middle;
    position: relative;
    background-color: #fff;
    left: 0;
}
.nav-recommend{
	position: absolute;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    top: 0;
    left: -170px;
}
.recommend-link{
	display: inline-block;
    color: #ed443b;
}
.nav-search{
	border-color:rgb(229,229,229);
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    width: 298px;
    height: 38px;
}
#myform{
	min-width: 1px;
}
.nav-search-input{
border: 0;
outline: 0;
margin-right: 39px;
width: 256px;
height: 18px;
margin-top: 10px;
line-height: 16px;
margin-left: 2px;
padding-left: 5px;
color: #999;
float: left;
}
.nav-search-icon{
position: absolute;
top: 12px;
right: 12px;
display: block;
width: 15px;
height: 15px;
cursor: pointer;
background:url(../images/icon.png) no-repeat; 
}
.nav-fr{
	line-height: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
}
.nav-user{
	padding: 0 20px 0 0;
	display: inline-block;
}
.nav-user a{
	vertical-align: middle;
    display: inline-block;
    background:url(../images/nav_a375e22.png) no-repeat -272px -2px;
    padding-left: 28px;
    height: 22px;
    line-height: 22px;
}
.page-show{
	vertical-align: middle;
    display: inline-block;
}
.nav-split{
	border-left: 1px solid #ccc;
    width: 0;
    height: 15px;
}
.nav-order{
	font-size: 12px;
    color: #666;
    padding: 0 20px;
}
.nav-sale-cart{
    padding-left: 44px;
    background: url(../images/new_nav_db768b3.png) no-repeat -9px 42px;
    color: #333;
    display: inline-block;
    font-size: 12px;
}
.nav-bars{
	background-color: #333;
    text-align: center;
    height: 40px;
}
.nav-bar{
	font-size: 0;
    display: inline-block;
}
.nav-bar li{
	float: left;
	line-height: 40px;
	margin: 0;
	font-size: 13px;
	padding: 0 35px;
}
.nav-bar li.active{background-color: #222;}	
.nav-bar li a{
	color:#fff;
	display: block;
	text-align: center;
	letter-spacing: .5px;
	position: relative;
}
.nav-bar-NEW{
	width: 23px;
	height: 12px;
	line-height: 12px;
	display: block;
	position: absolute;
	top: 7px;
	right: -25px;
	background: url(../images/hot_45ecdbe.png) -25px no-repeat;
}
.home-wrapper{
	min-width: 955px;
}
.home-banner-box{
	overflow: hidden;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}
.home-banner{
		width: 60%;
		float: left;
		display: inline-block;
        height: 100%;
        overflow: hidden;
}
.home-banner-imgbox{
	overflow: hidden;
    position: relative;
    height: 100%;
}
.home-banner-wrapper{
	float: left;
	width: 500%;
	position: relative;
    overflow: hidden;
    max-height: 607px;
    height: 100%;
}
.clf:after{
    content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.home-banner-wrapper li{
	float: left;
	width: 50%;
	overflow: hidden;
    height: 100%;
}
.home-banner-wrapper li a img {
    display: block;
    width: 100%;
    max-height: 100%;
    min-height: 100%
}
.hiSlider-btn-prev,.hiSlider-btn-next{
	width: 61px;
    height: 60px;
    background: url(../images/dir_9a54e55.png) no-repeat;
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	opacity: .5;
	font-size: 0;

}
.hiSlider-btn-prev{
	left:30px;
    transition: all .6s ease-out;
}
.hiSlider-btn-next{
	right: 30px;
	background-position: -91px 0;
    transition: all .6s ease-out;
}
.hiSlider-btn-prev:hover,.hiSlider-btn-next:hover{
   opacity: 1;	
}
.hiSlider-pages{
	position: absolute;
	bottom: 27px;
	text-align: center;
	left: 0;
	width: 100%;
    font-size:0;
}
.hiSlider-pages a{
	display: inline-block;
	background: url(../images/banner_ico_c98dc54.png) no-repeat;
	width: 11px;
	height: 10px;
	margin-right: 13px;
	cursor: pointer;
}
.hiSlider-pages a.active{
	background-position: -24px 0;
}
.home-banner-right{
	margin-left: 60%;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	float: left;
	width: 40%;
}
.home-banner-big{
	display: inline-block;
	float: left;
	width: 100%;
	overflow: hidden;
    max-height: 405px;
}
.home-banner-small{
	float: left;
	width: 50%;
	display: inline-block;
}
.home-banner-big img{
	width: 100%;
	height: auto;
	max-width: 110%;
	display: block;
    max-height: 100%;
}
.home-banner-small img{
	width: 100%;
	height: auto;
	max-width: 110%;
	display: block;
    max-height: 100%;
}
.home-article-wrapper{
	font-size: 0;
	width: 1200px;
	margin: 60px auto;
	overflow: hidden;
	padding-bottom: 60px;
	border-bottom: 1px solid #e9e9e9;
}
.home-article-main{
	width: 789px;
	border-right: 1px solid #e9e9e9;
	display: inline-block;
}
.article-image{
	background: url(../images/5715d8b915b05.jpg) no-repeat;
	width: 300px;
	height: 160px;
	display: inline-block;
	margin-right: 30px;
	background-size: 100%;
}
.article-info{
	display: inline-block;
	width: 420px;
	vertical-align: top;
}
.article-title{
	width: 430px;
	font-size: 24px;
	line-height: 1.1em;
	color: #333;
	margin: 30px 0 12px;
}
.text{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.article-contener{
	display: inline-block;
	font-size: 12px;
	line-height: 1.5em;
	color: #333;
	text-align: justify;
	height: 6em;
	overflow: hidden;
}
.article-contener{
	display: inline-block;
	font-size: 12px;
	line-height: 1.5em;
	color: #333;
	text-align: justify;
	height: 6em;
	overflow: hidden;
	font-family: "微软雅黑"
}
.home-article-side{
	display: inline-block;
	width: 340px;
	margin: 23px 0 0 40px;
	vertical-align: top;
}
.article-list{
	font-size: 14px;
	line-height: 2em;
	color: #333;
	font-family:"微软雅黑";
}
.article-list:before{
	content: '·';
	display: inline-block;
    margin-right: 5px;
}
.goods-block{
	margin: 40px auto;
	border-bottom: 1px solid #eee;
	padding-bottom: 40px;
	width: 1200px;
    min-width:1000px;
}

.goods-block ul li{
	box-sizing:border-box;
	display: inline-block;
	float: left;
}
.goods-block ul li:nth-child(1){
	float: left;
    width: 220px;
    height: 540px;
    margin-right: 25px;
    padding: 0;

}
.goods-block ul li:nth-child(1) a{
    float: left;
    width: 220px;
    height: 540px;
    margin-right: 25px;
    padding: 0;
 }   
.goods-block ul li:nth-child(2){
    width: 238px;
	height: 269px;
	float: left;
	padding: 20px;
	border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
.goods-block ul li:nth-child(2) img{
	width: 138px;
	height: 138px;
	display: block;
	max-width: 138px;
    max-height: 138px;
    position: absolute;
    bottom: 16px;
    right: 1px;
}
.goods-block ul li a {
    width: 198px;
    height: 229px;
    color: #333;
    font-size: 14px;
}
.goods-name{
	    overflow: hidden;
	    display: block;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    max-width: 100%;
	    font-size: 16px;
	    text-align: left;
}
.goods-brief{
	font-size: 12px;
	color: #999;
	margin-top: 5px;
	text-align: left;
	width: 162px;
	overflow: hidden;
	word-break: break-all;
	line-height: 1.4;
	max-height: 32px;
}

.goods-block li .goods-price {

    margin: 11px 0 2px -5px;
    font-size: 16px;
    text-align: left;
    position: relative;
    z-index: 22;
    font-family: helvetica,"Microsoft YaHei";
}
.goods-block li .goods-price span {
    font-weight: 700;
}
.goods-block li .goods-recommend {
    background: #ee3531;
    padding: 3px 10px;
    display: inline-block;
    height: 12px;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    position: relative;
	z-index: 222;
	min-width: 28px;
}   	
.goods-block ul li:nth-child(3){
    width: 478px;
	height: 540px;
	padding: 20px 25px;
	position: relative;
}
.goods-block ul li:nth-child(2) a{
    display: block;
    width: 201px;
    height: 230px;
    position: relative;
    left: 0;
    top:0;
} 
.goods-block ul li:nth-child(3) a{
    display: block;
    width: 428px;
    height: 500px;
    position: relative;
    left: 0;
    top:0;
} 
.goods-block ul li:nth-child(3) img{
    position: absolute;
    right: 1px;
	max-width: 395px;
    max-height: 395px;
}

.goods-block ul li:nth-child(4){
	padding: 20px;
	width: 238px;
    height: 269px;
    border-left: 1px solid rgb(233, 233, 233);
    border-bottom: 1px solid rgb(233, 233, 233);
 
}
.goods-block ul li:nth-child(4) a{
    display: block;
    width: 201px;
    height: 230px;
    position:relative;
    left: 0;
    top:0;
} 
.goods-block ul li:nth-child(4) img{
	max-width: 138px;
    max-height: 138px;   
    position: absolute;
    bottom: 16px;
    right: 1px;	
}
.goods-block ul li:nth-child(5){
	padding: 20px;
	width: 238px;
    height: 269px;
    border-right: 1px solid rgb(233, 233, 233);
    margin-left: -954px;
    margin-top: 281px;
    bottom: 16px;
}
.goods-block ul li:nth-child(5) a{
    display: block;
    width: 201px;
    height: 230px;
    position: relative;
    left: 0;
    top:0;
} 
.goods-block ul li:nth-child(5) img{
	max-width: 138px;
    max-height: 138px;	
    position: absolute;
    bottom:16px;
    right: 1px;	
}
.goods-block ul li:nth-child(6){
	padding: 20px;
	width: 238px;
    height: 269px;
    margin-top: 0;
    border-left: 1px solid rgb(233, 233, 233);
    margin-left: 0;
    float: left;
}
.goods-block ul li:nth-child(6) a{
    width: 201px;
    height: 230px;
    position: relative;
    left: 0;
    top:0;
    display: block;
} 
.goods-block ul li:nth-child(6) img{
	max-width: 138px;
    max-height: 138px;	
    position: absolute;
    bottom:16px;
    right: 0px;

}
 .goods-block ul li:nth-child(7){
        display:none;
    }
.goods-block ul li:nth-child(7) a{
    display: block;
    width: 201px;
    height: 230px;
    position: relative;
    left: 0;
    top:0;
} 
.goods-block ul li:nth-child(7) img{
    max-width: 138px;
    max-height: 138px;  
    position: absolute;
    bottom:16px;
    right: 0px;

}    
.goods-block2 ul li:nth-child(1){
	margin: 0 0 0 25px;
	float: right;
}
.goods-block  ul li:nth-child(3) .goods-name {
	font-size: 24px;
}
.goods-block  ul li:nth-child(3) .goods-brief{
	font-size: 14px;
}
.goods-block  ul li:nth-child(3) .goods-price span{
	font-size: 24px;
}
.goods-block li a img{
        transition: all 1s ease-out;
}
.goods-block li a:hover img {
    right: 24px;

}
.home-product-recomm-wrapper {
    background-color: #f6f6f6;
    padding: 60px 0;
    margin-top: -41px;
}
.home-product-recomm {
    margin: 0 auto;
    height: 400px;
    overflow: hidden;
}
.home-product-wrapper {
    overflow: hidden;
        float: left;
    position: relative;
}
.home-product-out {
    width: 200%;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
}
.home-product-out li.show {
    display: inline-block;
}
.home-product-out li {
    float: left;
    width: 50%;
}
.home-product-out img {
    width: 100%;
}
.home-product-direction {
    position: absolute;
    background: url(../images/direction_586dc6f.png) no-repeat;
    width: 21px;
    height: 42px;
    right: 0;
    top: 50%;
    margin-top: -21px;
}
.home-product-out {
    width: 200%;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
}
.home-product-info {
    margin-left: 735px;
}
.home-p-title {
    font-size: 30px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 1px;
    line-height: 1.2;
    display: block;
}
.home-p-desc {
    margin-top: 12px;
    font-size: 12px;
    line-height: 20px;
    height: 60px;
}
.home-p-price {
    color: #ee3531;
    margin: 17px 0;
    font-family: verdana;
    font-size: 18px;
}
.home-p-p {
    font-size: 24px;
    font-weight: 700;
    margin-left: 6px;
}
.home-p-buy {
    border: 0;
    background-color: #ee3531;
    margin-bottom: 90px;
    cursor: pointer;
    color: #fff;
    width: 140px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
        border-radius: 3px;
            transition: all .3s ease-out;
}
.home-p-look{
	    background-color: #fff;
    border: 1px solid #999;
    width: 138px;
    height: 38px;
    color: #333;
    margin-left: 15px;
        line-height: 38px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 75px;
    border-radius: 3px;
        transition: all .3s ease-out;
 
}
.home-p-intro {
    border-top: 1px solid #d7d7d7;
    padding-top: 27px;
}
.home-p-userico {
    overflow: hidden;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 7px;
    vertical-align: middle;
}
.home-p-userico img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.home-p-intro-detail {
    display: inline-block;
    max-width: 265px;
    vertical-align: middle;
    max-height: 41px;
    overflow: hidden;
}
a.home-p-join {
	border-radius: 3px;
	    background-color: #333;
	    width: 140px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    background-position: 0 -80px;
    color: #fff;
    float: right;
}


.home-p-buy:hover {
    background-color: #b22825;
    color: #fff;
}
.home-new-out-wrapper {
    background-color: #fff;
    padding: 30px 0 50px;
}
.home-news-wrapper {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.home-news-out {
    width: 1300px;
    font-size: 0;
}
.home-news-out li {
    background-color: #f6f6f6;
    display: inline-block;
    width: 380px;
    margin: 30px 30px 0 0;
    position: relative;
    vertical-align: top;
}
.home-news-img-one{
	background-image: url(../images/57157798cca05.jpg);
}
.home-news-img-two{
	background-image: url(../images/56fcce266cab4.JPG);
}
.home-news-img-three{
	background-image: url(../images/5714aed280fed.jpg);
}
.home-news-img-four{
	background-image: url(../images/57108d119dd12.jpg);
}
.home-news-img-five{
	background-image: url(../images/570db47417c47.jpg);
}
.home-news-img-six{
	background-image: url(../images/56d54674ab082.jpg);
}

.home-news-out li .article-image {
	    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 380px;
    height: 288px;
}
.home-news-out li .author-avatar {
    background-color: #f6f6f6;
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: -35px 10px 0 0;
    border-radius: 50%;
    text-align: center;
}
.home-news-out li .author-avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 5px;
}
.home-news-out li .author-name {
    color: #999;
    font-size: 12px;
    vertical-align: 10px;
    display: inline-block;
}
.home-news-out li .comment-count, .home-news-out li .like-count {
    color: #999;
    font-size: 12px;
    margin: 8px 0 0 15px;
}

.home-news-out li .article-title {
    color: #333;
    font-size: 16px;
    line-height: 26px;
    margin: 20px 0 10px;
    width: 100%;
    vertical-align: middle;
}
.home-news-out li .article-intro {
    color: #666;
    font-size: 12px;
    line-height: 1.5em;
    height: 37px;
    overflow: hidden;
}
.home-news-out li .article-time {
    color: #999;
    font-size: 12px;
    line-height: 12px;
    margin: 18px 0 25px;
}
.new-comment-icon {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url(../images/new-comment-icon_ed4c7c0.png) no-repeat 0 0 transparent;
    vertical-align: -4px;
}
.fl-right{
    float: right;
}
.home-news-out li .article-info {
    padding: 0 18px;
}

.home-video-more {
    width: 178px;
    height: 33px;
    line-height: 33px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    color: #666;
    font-size: 13px;
    text-align: center;
    display: block;
    margin: 30px auto 0;
}

.home-video-more:after {
    background: url(../images/right_fd4fd2f.png) no-repeat;
    content: "";
    width: 5px;
    height: 9px;
    line-height: 9px;
    display: inline-block;
    margin-left: 5px;
    margin-top: -2px;
}
.home-video-wrapper {
    padding: 60px 0;
    height: 542px;
    width: 100%;
    background-color: #f6f6f6;
}
.home-video-out {
    width: 1200px;
    height: 477px;
    overflow: hidden;
    margin: 0 auto;
}
.home-video-left{
	float: left;
    width: 236px;
    height: 477px;
        box-sizing: border-box;
    margin-right: 5px;
}
.home-video-block-small {
    display: inline-block;
    width: 236px;
    height: 236px;
    position: relative;
    font-size: 16px;
    overflow: hidden;
    margin-bottom: 5px;
    float: left;
}
.home-video-desc {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 55px 0 15px;
        box-sizing: border-box;
    background: url(../images/play_e587951.png) no-repeat 193px center;
        background-color: rgba(0,0,0,.4);
            position: absolute;
    bottom: 0;
    left: 0;
    height: 44px;
    line-height: 44px;
    color: #fff;
    font-size: 16px;
    text-align: left;
}
.home-video-center {
    float: left;
    width: 477px;
    height: 477px;
    margin-right: 5px;
    overflow: hidden;
}
.home-video-block-big, .home-video-right {
    width: 477px;
    height: 477px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.home-video-margin-right {
    margin-right: 5px;
}
.home-video-block-big .home-video-desc, .home-video-right-big .home-video-desc {
    background-position: 434px center;
}
.home-video-right a img {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    width: 236px;
    height: 236px;
    transition: all .6s ease-out;
}
.home-video-right-big {
    width: 477px;
    height: 236px;
    float: left;
}
.home-video-right a img {
    width: 477px;
}
.coo-wrapper{
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: 70px 0 100px;
}
.coo-list {
    width: 1290px;
}
.coo-list li {
    float: left;
    margin-right: 49px;
    width: 90px;
    height: 90px;
    text-align: center;
    margin-top: 30px;
}
.coo-first{
        background: url(../images/55af35bb0e93a.jpg) center center no-repeat #fff;
    background-size: contain;
}
.coo-two{
        background: url(../images/55af35e3a02c4.jpg) center center no-repeat #fff;
    background-size: contain;
}
.coo-three{
        background: url(../images/55af3602e6fb4.jpg) center center no-repeat #fff;
    background-size: contain;
}
.coo-four{
   background: url(../images/55af3625b9150.jpg) center center no-repeat #fff;
    background-size: contain;  
}
.coo-five{
   background: url(../images/55af3625b9150.jpg) center center no-repeat #fff;
    background-size: contain;  
}
.coo-five{
   background: url(../images/55af363daf2ca.png) center center no-repeat #fff;
    background-size: contain;  
}
.coo-six{
   background: url(../images/55af36662f8f3.png) center center no-repeat #fff;
    background-size: contain;  
}
.coo-seven{
   background: url(../images/55af367d66128.jpg) center center no-repeat #fff;
    background-size: contain;  
}
.coo-eight{
   background: url(../images/55af369ed4923.png) center center no-repeat #fff;
    background-size: contain;  
}
.coo-nine{
   background: url(../images/56e7c732c881b.png) center center no-repeat #fff;
    background-size: contain;  
}
.coo-ten{
   background: url(../images/561e2bb2028d0.png) center center no-repeat #fff;
    background-size: contain;  
}
.coo-ele{
   background: url(../images/566faf773bfc1.png) center center no-repeat #fff;
    background-size: contain;  
}
.coo-twe{
   background: url(../images/569753f587087.jpg) center center no-repeat #fff;
    background-size: contain;  
}
.coo-thi{
   background: url(../images/5641bcbd0679b.png) center center no-repeat #fff;
    background-size: contain;  
}
.coo-for{
   background: url(../images/56e7c991066e6.png) center center no-repeat #fff;
    background-size: contain;  
}
.coo-fif{
   background: url(../images/569754437f399.png) center center no-repeat #fff;
    background-size: contain;  
}
.coo-sixt{
   background: url(../images/561e2d582f64a.png) center center no-repeat #fff;
    background-size: contain;  
}
.coo-sevt{
   background: url(../images/56739f673bf38.png) center center no-repeat #fff;
    background-size: contain;  
}
.coo-eightt{
   background: url(../images/561e2bb2028d0.png) center center no-repeat #fff;
    background-size: contain;  
}
.coo-list .co-apply a {
    display: block;
    height: 90px;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 13px;
    transition: all .2s ease-out;
    }
.coo-list .co-apply a div {
    font-size: 25px;
    padding-top: 10px;
}
.co-apply:hover a{
    background:black;
}

.footer {
    width: 100%;
    height: 300px;
    background-color: #222;
    overflow: hidden;
    font-size: 12px;
    position: relative;
    bottom: 0;
    z-index: 170;
}
.f-regular-out {
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    border-bottom: 1px solid #333;
    height: 119px;
}
.f-regular-wrapper {
    width: 886px!important;
    overflow: hidden;
    margin: 0 auto;
}
.f-regular-list {
    width: 1080px;
    line-height: 119px;
}
.f-regular-list li {
    background: url(../images/footer_a84db08.png) no-repeat;
    margin-right: 100px;
    padding-left: 55px;
    float: left;
    color: #fff;
    font-size: 16px;
}
.f-regular-list li.f-ft {
    background-position: -5px 35px;
}
.f-regular-list li.f-second {
    background-position: -4px -56px;
}
.f-regular-list li.f-third {
    background-position: -4px -163px;
}
.f-regular-list li.f-last {
    background-position: -4px -266px;
}
.f-product-info {
    width: 983px;
    margin: 34px auto 0;
    padding-bottom: 36px;
    text-align: center;
}
.f-product-left {
    display: inline-block;
    max-width: 537px;
    padding-right: 60px;
    border-right: 1px solid #333;
    padding: 25px 60px 30px 0;
    text-align: right;
}
.f-tel {
    color: #fff;
    opacity: .3;
    filter: alpha(opacity=30);
    font-size: 18px;
    letter-spacing: 1.5px;
    text-align: left;
}
.tel{
        text-decoration: none;
    color: #fff;
    cursor: default;

}
.f-tel span {
    font-size: 12px;
}
.f-info {
    margin-top: 7px;
    overflow: hidden;
    text-align: left;
}
.f-info-inner {
    margin-right: -10px;
}
.f-info a, .f-info span {
    font-size: 12px;
    color: #fff!important;
    opacity: .3;
    margin-right: 10px;
    display: inline-block;
}
.f-focus-us {
    display: inline-block;
    width: 324px;
    padding-left: 56px;
    font-size: 12px;
    color: #fff;
    vertical-align: top;
}
.f-focus-us-txt {
    opacity: .3;
    text-align: left;
}
.f-focus-icon {
    margin-top: -16px;
}
.f-focus-us a.f-tieba {
    background-position: -104px 0;
}
.f-focus-us a {
    display: inline-block;
    width: 42px;
    height: 42px;
    background: url(../images/weibo_fff8cde.png) no-repeat;
    margin-right: 9px;
    margin-top: 20px;
    vertical-align: middle;
    }
.f-focus-us a.f-weixin {
    background-position: 0 5px;
    height: 52px;
    position: relative;
    overflow: visible;
}
.f-focus-us .f-weixin img {
    position: absolute;
    top: -110px;
    left: -34px;
    width: 110px;
    height: 110px;
    margin-left: 0;
    display: none;
    max-width: 220px;
    max-height: 220px;
}
.f-focus-us a.f-weibo {
    background-position: -52px 0;
}
.f-weixin:hover img{
    display: block;
}
.f-focus-us img {
    width: 111px;
    height: 111px;
    margin-left: 48px;
    vertical-align: middle;
}



@media screen and (max-width: 1348px){
	.home-product-rect {
    display: block;
}

.home-product-long {
    display: none;
}
.home-product-info {
    margin-left: 485px;
}
.home-product-wrapper {
    width: 465px;
    height: 400px;
}
.home-product-recomm {
    width: 955px;
}
}


@media screen and (min-width: 1349px){
	.home-product-rect {
    display: none;
}
.home-product-wrapper {
    width: 710px;
    height: 400px;
}
}

@media screen and (min-width: 1349px){
	.home-product-recomm {
    width: 1200px;
}
.home-product-long {
    display: block;
}
.home-product-wrapper {
    width: 710px;
    height: 400px;
}
}


}
@media screen and (max-width: 1348px){
	.home-new-out-wrapper {
    padding-bottom: 40px;
}
.home-news-wrapper {
    width: 955px;
    overflow: hidden;
}
.home-news-out {
    width: 1000px;
}
.home-news-out li {
    width: 300px;
    margin-right: 27px;
}
.home-news-out li .article-image {
    width: 300px;
    height: 227px;
}
.home-news-out li .article-info {
    padding: 0 15px;
}
.home-news-out li .article-title {
    margin: 15px 0 5px;
}
}


@media screen and (max-width: 1348px){
	.home-video-wrapper {
    height: 542px;
    width: 100%;
    background-color: #f6f6f6;
}
.home-video-out {
    height: 475px;
    width: 955px;
    margin: 0 auto;
}
.home-video-left {
    width: 235px;
    height: 475px;
}
.home-video-center {
    width: 475px;
    height: 475px;
}
.home-video-right {
    width: 235px;
        height: 475px;

}
.home-video-block-small {
    width: 235px;
    height: 235px;
}
.home-video-right-big {
    display: none;

}
}

@media screen and (max-width: 1348px){
    .coo-wrapper {
    width: 955px;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px 0 40px;
}
.coo-list {
    width: 974px;
}
.coo-list li {
    float: left;
    margin-right: 18px;
    margin-top: 20px;
    width: 90px;
    height: 90px;
}
}


@media screen and (max-width: 1348px){
   .f-regular-out {
    width: 100%;
}
.f-regular-list {
    width: 1055px;
} 
}
@media screen and (max-width:1348px){
    .goods-block{
        width: 955px;
        margin: 40px auto
    }
    .goods-block li {
    width: 235px;
    height: 270px;
    float: left;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 17px;
    }
    .goods-block li a {
    width: 201px;
    height: 230px;
    position: relative;
    }
    .goods-block ul li:nth-child(1){
        float: left;
        width: 220px;
        height: 540px;
        margin-right: 25px;
        padding: 0;
        display:block;
    }
    .goods-block ul li:nth-child(3){
            width: 235px;
            height: 269px;
            border-right: 1px solid rgb(233, 233, 233);
            border-bottom: 1px solid rgb(233, 233, 233); 
            float: left;
            box-sizing:border-box;
    }
    .goods-block ul li:nth-child(3) a{
        display: block;
        width: 201px;
        height: 230px;
        position:relative;
        left: 0;
        top:0;
    }
    .goods-block ul li:nth-child(3) img{
            max-width: 138px;
            max-height: 138px;   
            position: absolute;
            bottom: 16px;
            right: 1px; 
    }    
    .goods-block ul li:nth-child(4){
            border-left: 0;
            border-bottom: 1px solid rgb(233, 233, 233);
    }
    .goods-block ul li:nth-child(5){
                border-right: 1px solid rgb(233, 233, 233);
                width: 238px;
                height: 270px;
                display: inline-block;
                float: left;
                box-sizing: border-box;
                padding: 20px 17px;
                margin-left: 0;
                margin-top: 0;
    }
     .goods-block ul li:nth-child(5) a{
        width: 201px;
        height: 230px;
     }
    .goods-block ul li:nth-child(6){
        width: 235px;
        height: 270px;        
        border: 0;
        border-right: 1px solid rgb(233, 233, 233);
        overflow: hidden;
        float: left;
    }
   .goods-block ul li:nth-child(6) a{
        width: 201px;
        height: 230px;
        position: relative;
        display: block;
     }
    .goods-block ul li:nth-child(7){
        display:block;
        float: left;
    }
    .goods-block ul li:nth-child(7) a{
        width: 201px;
        height: 230px;
        position:relative;
        display: block;
    }
    .goods-block ul li:nth-child(3) .goods-name{
        font-size: 16px;
}
.goods-block ul li:nth-child(3) .goods-brief{
        font-size: 12px;
}
.goods-block ul li:nth-child(3) .goods-price{
       margin: 11px 0 2px -5px;
       font-size: 16px;
}
.goods-block ul li:nth-child(3) img{
   max-width: 127px;
    max-height: 127px;
}
.goods-block ul li:nth-child(3) a:hover img{
       right: 24px;
}
.goods-block2 ul li:nth-child(1){
    margin: 0 0 0 25px;
    float: right;
}
.home-product-direction {
    position: absolute;
    background: url(../images/direction_586dc6f.png) no-repeat;
    width: 21px;
    height: 42px;
    right: 0;
    top: 50%;
    margin-top: -21px;
}
.hidden{
    display: none;
}
.show{
    display:block;
}
}
.home-product-direction {
    position: absolute;
    background: url(../images/direction_586dc6f.png) no-repeat;
    width: 21px;
    height: 42px;
    right: 0;
    top: 50%;
    margin-top: -21px;
}
.home-banner-wrapper li a img,.home-banner-right div img{
        transition:all 1s ease-out;
}
.home-banner-wrapper li a img:hover,.home-banner-right div img:hover{
    width:102%;
    height: 102%;
    transfrom:scale(1.04,0,0,1.04,0,0);
};
